<!doctype html>
<html lang="en">
	<!--
	editablelistview/

	-->
	<head>
		<meta charset="utf-8">
		<title>Simple AngularJS CRUD app</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.css" />
		
		
		<link rel="stylesheet" href="slidebars/slidebars.css">
		<link rel="stylesheet" href="slidebars/style.css">
		<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/style.css">


		<script src="jsplugins/jquery.min.js"></script>	
		<!-- <script src="js/jquery.mobile-1.4.5.min.js"></script>-->
		<script src="js/bootstrap.min.js"></script>
		<script src="jsplugins/angular.js"></script>
    	<script src="jsplugins/script.js"></script>
 
		
		 
		
		<!-- <script src="http://code.jquery.com/jquery-2.1.1.js"></script> -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.js"></script>-->
		<!-- <script src = "js/jquery.mobile-1.4.5.min.js"></script> -->
		<!-- <script src="editablelistview/js/collapsible-patched.js"></script> -->
		<!-- <script src="localhost:8888/grunt-angular/editablelistview/js/editable-listview.js"></script>-->

	</head>

	<body ng-app="App">
		
		<div canvas="container">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-default navbar-inverse  navbar-fixed-top" role="navigation">
						<div class="navbar-header">
		
							<button type="button" class="navbar-toggle navbar-inverse " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="width:44px;max-width:44px !important;">
								<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<button type="button" class="navbar-toggle navbar-inverse js-toggle-left-slidebar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="width:44px;max-width:44px !important;">
								<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" style="color:#fff;text-shadow:none;margin-top:5px;" href="#">Simple Angularjs CRUD</a>
							 
						</div>
		<!--
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Bootstrap</a>
										</li>
										<li>
											<a href="#">JQuery Plugins</a>
										</li>
										<li>
											<a href="#">HTML5 video</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">Checkout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
		-->
					</nav>
				</div>
			</div><!-- end container-fluid -->
			<div>
			<div ng-controller="CrudCtrl" class='content' style='margin-top:50px;height:600px;min-height:600px;'>
			    <table>
			      <tr>
			        <td>Name</td>
			        <td>Country</td>
			        <td><span class='add-span' ng-click="add()">Add New</span></td>
			      </tr>
			      <tr ng-repeat="profile in Profiles">
			        <td>
			          <input type="text" ng-model="profile.name" ng-show="profile.editable" placeholder="name">
			          <span ng-hide="profile.editable">{{ profile.name }}</span>
			        </td>
			        <td>
			          <input type="text" ng-model="profile.country" ng-show="profile.editable" placeholder="country">
			          <span ng-hide="profile.editable">{{ profile.country }}</span>
			        </td>
			        <td>
			          <span class='edit-span' ng-click="edit($index)" ng-hide="profile.editable">Edit</span>
			          <span class='save-span'ng-click="save($index)" ng-show="profile.editable">Save</span>|
			          <span class='delete-span'ng-click="delete($index)">  Delete</span>
			        </td>
			      </tr>
			    </table>
			  </div>
			</div>
			 
			<div class='content' style='margin-top:50px;height:600px;min-height:600px;'>
				<!-- ajax in content -->

				<section>
					<div style="padding: 5px;">							 
						<ul id="list" data-role="listview" data-item-name="flowerName">
							<li>
								Hidden Dragon Zinnia Seeds
							</li>
							<li>
								Crouching Tiger Zinnia Seeds
							</li>
							<li>
								Charisma Blue
							</li>
							<li>
								Charisma White
							</li>
						</ul>
					</div>
					<script>
						/*var $list = $("#list").listview({
							editable : true,
							//            editableType: "simple",
							//            collapsed: false,
							title : "Flowers",
							emptyTitle : "No FLowers"
						});	*/				 
					</script>
				</section>
				
				<section>
					<div style="padding: 5px;">							 
						<ul id="list2" data-role="listview" data-item-name="fruitName">
							<li>
								Sunshine Blue Dwarf Blueberry
							</li>
							<li>
								Ambrosia Hybrid Cantaloupe 
							</li>
							<li>
								Portabella Mushroom
							</li>
							<li>
								Kieffer Lime Tree
							</li>
						</ul>
					</div>
					<script>
						/*var $list = $("#list2").listview({
							editable : true,
							//            editableType: "simple",
							//            collapsed: false,
							title : "Fruits",
							emptyTitle : "No Fruits"
						});	*/				 
					</script>
				</section>
				 
			</div>

		</div>
		
		<div off-canvas="slidebar-1 left reveal" class="reveal-panel" style="height:600px;min-height:600px;">
			 
			 
			<section>
					<div style="padding: 5px;">	
					<!-- data-role="listview" data-item-name="shippingName"-->						 
						<ul id="list3" >
							<li>
								AngularJS
							</li>
							<li>
								slidebars 
							</li>
							<li>
								jQuery probably
							</li>
							 
						</ul>
					</div>

					<script>
						/*var $list = $("#list3").listview({
							editable : true,
							//            editableType: "simple",
							//            collapsed: false,
							title : "Shipping",
							emptyTitle : "No Shipping"
						});	*/				 
					</script>
					
				</section>
		</div>

		 
		<script src="slidebars/slidebars.js"></script>
		<script src="slidebars/scripts.js"></script>
		<!-- // GESTURE RECOGNITION ON MOBILE DEVICES -->
		<script src="jsplugins/hammer.js"></script>
		<script src="jsplugins/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<!-- // GESTURE ADDITIONS -->
	</body>
</html>